.btn-cus{
    background-color: #4CAF50 !important; /* Green */
    border: none !important;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    margin-top: 35px;
}